.Eventi {
    font-family: cursive;
}

.box7 {
    font-family: monospace;
}

.box3 {
    font-family: "Sedgwick Ave Display";
    font-size: 35px;
}

.ComeGiocare{
    font-family: "Press Start 2P";
}
.Marshmello {
    float: right;
    border: 5px solid black;
}

.ImmagineCreatore{
    float: right;
     border: 5px solid black;
}

.EpicGames {
    float: right;
    border: 5px solid black;
}

.BattleRoyale {
    float: right;
    border: 5px solid black;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.box {
    height: 250px;
    animation-name: MySlide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes MySlide {
    from{margin-left: 1100px;}
    to{margin-left: 624px;}
}

.ConteniteoreFooter {
    padding: 25px;
}

.Social {
    text-align: center;
}

.Social a {
    padding: 10px;
    font-size: 2em;
}

.informazioni {
    font-family: cursive;
}

.modalita {
    font-family: cursive;
}
